#div_id_username, #div_id_password1, #div_id_password2, #div_id_password{
    padding: 1rem;
    margin-left:25% !important;
}
input , #id_connotation{
    padding:0.3rem;

}
.form{
    padding:2rem;
}
#submit-btn{
    padding: 0.5rem;
    width:50%;
    margin-left:25%;
}
#search-field{
    margin: 1rem;
}