{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}
<title>Word Family Detail</title>
<link rel="stylesheet" href="{% static 'css/family/detail.css'%}">
<link rel="stylesheet" href="{% static 'css/word/connotation_mobile.css'%}" media="screen and (min-width: 200px) and (max-width: 800px)">   

{% endblock %}
{% block content %}
    <h1>Word Family Detail </h1>
    <p></p>
    <div class="word-family">
        <div class="d-flex flex-column">
            <h3> Name: {{ object.name }} </h3>
            <h3>  Common Meaning: {{object.meaning}}</h3>
            <h3> Description: {{object.description}}</h3>
        </div>
    </div>
    <hr>
    {% if words %}
    <div class="words">
        <h3>Words:</h3>
        <div class="word-row d-flex">
            <div class="col col-1">SN</div>
            <div class="col col-2">Word</div>
            <div class="col col-3">Connotation</div>
            <div class="col col-4">Definition</div>
        </div>
    {% for word in words %}
        <div class="word-row d-flex">
            <div class="col col-1"><a href="">{{forloop.counter}}</a></div>
            <div class="col col-2">{{word.word.name}}</div>
            <div class="col col-3">{{word.word.connotation}}</div>
            <div class="col col-4">{{word.word.definition}}</div>
        </div>
    {% endfor %}
    </div>
    {% endif %}
    <hr>
    <a href="{% url 'vocabulary:family-create'%}" class="btn-link">Create New Word Family</a><br>
    <a href="{% url 'vocabulary:family-list'%}" class="btn-link">Word Families</a><br>
    <a href="{% url 'vocabulary:family-update' object.id %}" class="btn-link">Update Family Details</a>
{% endblock %}