.form{
    padding:0;
}
#div_id_name, #div_id_connotation, #div_id_family, #search-bar, #div_id_definition{
    padding: 0;
    margin-left:2% !important;
}
#id_definition{
    width:90%;
}
#search-button{
    margin-bottom: 1rem;
}
select option{
    font-size: 1.5rem;
}